<!DOCTYPE html>
<html lang="ja">
<head>
    <title>TOP</title>
</head>
<body>
{% if user is null%}
<div>
    <button type="button" onclick="location.href='{% url 'social:begin' 'twitter' %}'">Twitterログイン</button>
</div>
{% else %}
<div>
    <a href="/index/logout">
        <button type="button">ログアウト</button>
    </a>
</div>
{% endif %}
<div>
    <div>
        <p><b>ScreenName</b>:{{ user.access_token.screen_name }}</p>
        <p><b>UserId</b>:{{ user.access_token.user_id }}</p>
        <p><b>OAuthTokenSecret</b>:{{ user.access_token.oauth_token_secret }}</p>
        <p><b>OAuthToken</b>:{{ user.access_token.oauth_token }}</p>
    </div>
</div>
<div>
    {% for t in tweet %}
    <p>
    <ul>
        <li>ユーザ名: {{ t.user.name }}</li>
        <li>テキスト: {{ t.text }}</li>
        <li>画像:<img src={{ t.media.0.media_url_https}}></li>
    </ul>
    </p>
    {% endfor%}
</div>
</body>
</html>